body {
    /* height: 10000px; */
}

.banner_bg.breadcrumb_title {
    border: 1px solid red;


}

ul.breadcrumb_title_list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

@media (min-width:768px) {
    ul.breadcrumb_title_list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }

}

.breadcrumb_title_list li.hover_not {

    display: inline-block;
    color: #7C7C7C;
    font-size: 24px;
}

.breadcrumb_title_list>li a {
    text-decoration: none;
    color: #8ECFD2;
    /* border: 1px solid red; */
    padding: 0 8px;
    font-size: 24px;
}

.breadcrumb_title_list>li:not(:last-child)::after {
    content: '/';
    display: inline-block;


}

.breadcrumb_title_list>li a:hover {
    color: #7C7C7C;
}

/* <!-- ================================================各自分頁的開始======================================== --> */
.to-do_rule_step {
    color: #8ECFD2;
    text-align: center;
    margin: 0 auto;
}

/* h1就是2em */
@media (min-width:576px) {
    .to-do_rule_step h1 {
        font-size: 3em;
    }
}

.to-do_rule_step h3 {
    font-size: 24px;
}

@media (min-width:576px) {
    .to-do_rule_step h3 {
        font-size: 36px;
    }
}

.to-do_rule_step p {
    /* border: 1px solid red; */
    width: 100%;
    padding: 0 20px;
    font-size: 20px;
}

@media (min-width:576px) {
    .to-do_rule_step p {
        /* border: 1px solid red; */
        padding: 0 20px;
        font-size: 24px;
    }
}

.to-do_rule_step a {
    text-decoration: none;
    color: #3F6395
}

.to-do_rule_step a:hover {
    color: #7C7C7C;
}

/* <!-- ============================================表單============================================ --> */

#day_selector {
    appearance: none;
    outline: none;
    background-color: none;
    border: 1px solid#919191;
    border-radius: 8px;
    width: 200px;
    padding: 8px;
    font-size: 16px;
    color: #919191;
    display: block;
    margin: 0 auto;
    cursor: pointer;

    background-image: url(../images/triangle.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 8px center;
    /* 水平方向距離右側 8px；垂直方向 center */

}

.day_seletor {
    /* min-width: 1000px; */
}

/* 
無法成功插入三角形
#day_selector::after {
    content: "t";
    display: inline-block;
    border: 5px solid red;
} */

/* <!-- ================================================表單======================================== --> */
.outside_box {
    /* border: 1px solid red; */
    padding: 0 20px;

}

.myForm_create_day1 h3,
.myForm_create_day2 h3 {
    color: #8ECFD2;
}

legend {
    color: #8ECFD2;
    text-align: center;
    font-size: 36px;
}

@media (min-width:576px) {
    legend {
        font-size: 40px;
        letter-spacing: 10px;
    }
}

#myForm_create {
    margin: 0 auto;
    border: 5px double #8ECFD2;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

@media (min-width:576px) {
    #myForm_create {
        border: 5px double #8ECFD2;
        padding: 20px;
        margin-top: 40px;
    }
}

@media (min-width:1200px) {
    #myForm_create {
        max-width: 1400px;
    }

}

.trip_news,
.day1_create_breakfast,
.day1_create_lunch,
.day1_create_dinner,
.day1_create_living,
.day1_create_list,
.day2_create_breakfast,
.day2_create_lunch,
.day2_create_dinner,
.day2_create_living,
.day2_create_list {
    margin: 20px 50px;

}

#trip_news_title {
    width: 400px;
}



/* .myForm_create_day1 input {
    margin: 0 8px;
    padding: 4px 8px;

} */
.trip_news input,
.day1_create_breakfast input,
.day1_create_lunch input,
.day1_create_dinner input,
.day1_create_living input,
.day1_create_list input,
.myForm_create_day2 input,
.day2_create_breakfast input,
.day2_create_lunch input,
.day2_create_dinner input,
.day2_create_list input,
.day1_create_list textarea,
.day2_create_list textarea {
    margin: 10px auto;
    padding: 18px;
    width: 100%;
    font-size: 20px;
}

@media (min-width:576px) {

    .trip_news input,
    .day1_create_breakfast input,
    .day1_create_lunch input,
    .day1_create_dinner input,
    .day1_create_living input,
    .day1_create_list input,
    .myForm_create_day2 input,
    .day2_create_breakfast input,
    .day2_create_lunch input,
    .day2_create_dinner input,
    .day2_create_list input,
    .day1_create_list textarea,
    .day2_create_list textarea {
        font-size: 24px;
    }
}

@media (min-width:768px) {

    .trip_news input,
    .day1_create_breakfast input,
    .day1_create_lunch input,
    .day1_create_dinner input,
    .day1_create_living input,
    .day1_create_list input,
    .myForm_create_day2 input,
    .day2_create_breakfast input,
    .day2_create_lunch input,
    .day2_create_dinner input,
    .day2_create_list input,
    .day1_create_list textarea,
    .day2_create_list textarea {
        margin: 15px auto;
        padding: 18px;
        width: 100%;
        font-size: 36px;
    }
}

@media (min-width:992px) {

    .trip_news input,
    .day1_create_breakfast input,
    .day1_create_lunch input,
    .day1_create_dinner input,
    .day1_create_living input,
    .day1_create_list input,
    .myForm_create_day2 input,
    .day2_create_breakfast input,
    .day2_create_lunch input,
    .day2_create_dinner input,
    .day2_create_list input,
    .day1_create_list textarea,
    .day2_create_list textarea {
        padding: 10px;
        font-size: 30px;
        width: 300px;
        margin: 10px 10px;

    }
}

.day1_create_list textarea,
.day2_create_list textarea {
    width: 100%;
    height: 170px;
}

.button_create1,
.button_create2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

@media (min-width:992px) {

    .button_create1,
    .button_create2 {
        display: flex;
        justify-content: center;
        width: 800px;
        margin: 0 auto;
    }
}

button#button_create1_submit {
    width: 200px;
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 3px solid #8ECFD2;
    background-color: #fff;
    margin-top: 10px;
    font-size: 20px;
    color: #8ECFD2;
}

@media (min-width:576px) {
    button#button_create1_submit {
        width: 280px;
        margin: 10px;
        padding: 12px;
        border-radius: 8px;
        margin-top: 20px;
        font-size: 24px;
    }
}

button#button_create1_submit:hover {
    width: 100%;
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 3px solid;
    background-color: #8ECFD2;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}

button#button_create2_download {
    width: 300px;
    margin: 10px;
    padding: 12px;
    border-radius: 8px;
    border: 3px solid #FFDB9D;
    background-color: #fff;
    margin-top: 20px;
    font-size: 20px;
    color: #FFDB9D;
}

@media (min-width:576px) {
    button#button_create2_download {
        width: 400px;
        margin: 12px;
        padding: 12px 16px;
        border-radius: 8px;
        border: 3px solid #FFDB9D;
        background-color: #fff;
        margin-top: 24px;
        font-size: 24px;
    }

}

button#button_create2_download:hover {
    width: 100%;
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 3px solid;
    background-color: #FFDB9D;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
}