body {
  font: normal 18px Tahoma, Arial, Verdana;
}

#myCart {
  margin: 0 auto;
  width: 900px;
  border: 1px solid #fff;
}

input {
  width: 60px;
}

tr {
  border-bottom: 1px dotted #aaa;
}

td {
  margin: 0px;
  padding: 1px 10px 4px 10px;
  border-bottom: 1px dotted #ccc;
  text-align: left;
  vertical-align: top;
}

#cartList {
  font-size: medium;
  font-weight: 800;
  border-bottom: 1px solid #aaa;
}

#subtotal {
  font-size: medium;
  font-weight: 600;
  color: #8ECFD2;
}

.return {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.return p {
  border: 1px solid#8ECFD2;
  text-align: center;
  width: 100px;
  font-size: 16px;
  border-radius: 8px;
  margin-right: 5px;
  color: #8ECFD2;
  padding: 3px;
}

.return p:hover {
  background-color: #8ECFD2;
  text-align: center;
  width: 100px;
  font-size: 16px;
  border-radius: 8px;
  margin-right: 5px;
  color: #fff;
  padding: 3px;
}

.return a {
  text-decoration: none;
}

.checkOut p {
  margin-left: 5px;
}

.check_out_list {
  background-color: aliceblue;
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  display: none;
}

.logo_image {
  width: 100px;
  margin: 20px auto;
}


.logo_image img {
  width: 100%;
}


.check_out_message p {
  font: 14px;
  text-align: center;
}

.header_note {
  background-color: #8ECFD2;
  height: 30px;
  width: 300px;
  border-radius: 8px 8px 0 0;
}

.buttom_return {
  color: #8ECFD2;
  border: 1px solid #8ECFD2;
  border-radius: 8px;
  width: 100px;
  font-size: 14px;
  text-align: center;
  margin: 20px auto;
}

.check_out_list a {
  text-decoration: none;
}

#check_out:hover {
  background-color: #8ECFD2;
  color: #fff;
  cursor: pointer;
}