/* body {
    height: 10000px;
} */

/* ========================================================麵包屑================================================ */
.banner_bg.breadcrumb_title {
    /* border: 1px solid red; */
}

ul.breadcrumb_title_list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* margin-right: 40px; */
}



.breadcrumb_title_list>li.hover_not {

    display: inline-block;
    color: #7C7C7C;
    font-size: 24px;
}

.breadcrumb_title_list>li a {
    text-decoration: none;
    color: #8ECFD2;
    /* border: 1px solid red; */
    padding: 0 8px;
    font-size: 24px;
}

.breadcrumb_title_list>li:not(:last-child)::after {
    content: '/';
    display: inline-block;


}

.breadcrumb_title_list>li a:hover {
    color: #7C7C7C;
}

.point_vendor_title h1 {
    color: #8ECFD2;
    text-align: center;
}

/* ================================================================會員登入表格====================================================================== -- */


.left_register {
    /* border: 4px black; */
    /* width: 400px; */
    width: 100%;
    border-radius: 8px;
    background-color: #EAEAEA;
}

@media (min-width:576px) {
    .left_register {
        /* border: 4px black; */
        width: 400px;
        border-radius: 8px;
    }
}

.register_big_box {
    margin-top: 80px;
    /* border: 1px solid orange; */
    padding: 0 20px;
}

@media (min-width:576px) {
    .register_big_box {
        /* margin-top: 80px; */
        /* border: 1px solid orange; */
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }
}

.register_form {
    width: 100%;
    /* border: 1px solid red; */
    /* background-color: #EAEAEA; */
    /* display: flex;
    column-gap: 20px;*/
    border-radius: 8px;
    /* margin: 0 20px; */
    padding: 0 20px;

}

@media (min-width:576px) {
    .register_form {
        /* border: 1px solid red; */
        background-color: #EAEAEA;
        display: flex;
        column-gap: 20px;
        border-radius: 8px;
        max-width: 800px;
    }
}

.register_function {
    /* border: 1px solid blue; */
    margin-bottom: 40px;
}

.logo_inside_box {
    /* border: 1px solid yellow; */
    display: flex;
}

#title_logo {
    margin: 0 auto;
    /* border: 3px solid purple; */
    padding: 20px;
}



.register_text {
    text-align: center;
    color: #8ECFD2;
    font-size: 36px;
    font-weight: bold;
}

/* 使用不同方式登入 */
.other_function_text {
    text-align: center;
    color: #8ECFD2;
    font-size: 24px;
    margin-top: 20px;
}

hr {
    width: 250px;
    color: #8ECFD2;
    height: 3px;
}

.input_list_button {
    width: 200px;
    margin: auto;
    margin-top: 10px
}

.input_list_button input {
    width: 200px;
    padding: 6px;
    text-align: center;
    margin: 10px 0;
    border: 1px solid #CDCDCD;
}


.input_list_button button {
    width: 200px;
    padding: 2px;


    border: 3px solid #8ECFD2;
    background-color: #fff;
    margin-top: 10px;
    font-size: 20px;
    color: #8ECFD2;

}


.function_icon {
    display: flex;
    justify-content: center;
}

.text_still_member {
    text-align: center;
    color: #8ECFD2;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 8px;
}

@media (min-width:576px) {
    .text_still_member {
        text-align: center;
        color: #8ECFD2;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 10px;
    }
}

.right_big_box {
    /* border: 1px solid blue; */
    /* width: 370px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 30px;
}

@media (min-width:576px) {
    .right_big_box {
        /* border: 1px solid blue; */
        width: 370px;
        background-color: #EAEAEA;
    }
}


.register_box {
    width: 100%;
    margin: auto;
    /* border: 1px solid yellow; */
    margin-top: 30px;


}

.immediately_register {
    text-align: center;
    margin-top: 20px;
}