body {
    /* height: 10000px;  */
}

/* ===========================================================================麵包屑================================================================================= */
.banner_bg.breadcrumb_title {
    border: 1px solid red;
}

ul.breadcrumb_title_list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

@media (min-width:768px) {
    ul.breadcrumb_title_list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }

}


.breadcrumb_title_list>li.hover_not {

    display: inline-block;
    color: #7C7C7C;
    font-size: 24px;
}

.breadcrumb_title_list>li a {
    text-decoration: none;
    color: #8ECFD2;
    /* border: 1px solid red; */
    padding: 0 8px;
    font-size: 24px;
}

.breadcrumb_title_list>li:not(:last-child)::after {
    content: '/';
    display: inline-block;


}

.breadcrumb_title_list>li a:hover {
    color: #7C7C7C;
}

/* ======================================================下方標題開始=============================================== */
.introduce_text {
    width: 100%;
    padding: 0 20px;
}

@media (min-width:576px) {
    .introduce_text {
        padding: 0 30px;
    }
}

@media (min-width:768px) {
    .introduce_text {
        padding: 0 40px;
    }
}

@media (min-width:992px) {
    .introduce_text {
        padding: 0 60px;
    }
}

@media (min-width:1200px) {
    .introduce_text {
        padding: 0 80px;
    }
}

.introduce_text h1 {
    color: #8ECFD2;
    letter-spacing: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

@media(min-width:576px) {
    .introduce_text h1 {
        font-size: 32px;
        letter-spacing: 2rem;
    }
}

.introduce_text p {
    width: 100%;
    color: #8ECFD2;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}


@media(min-width:576px) {
    .introduce_text p {
        font-size: 18px;
        max-width: 1200px;
    }
}

/* ------------------------------------------------------------------------職場排組------------------------------------------------------------------------------------------------ */

.mind_spot_title {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px;
}

@media(min-width:576px) {
    .mind_spot_title {
        padding: 0 30px;
    }
}

@media(min-width:768px) {
    .mind_spot_title {
        padding: 0 40px;
    }
}

@media(min-width:992px) {
    .mind_spot_title {
        padding: 0 60px;
    }
}

@media(min-width:1200px) {
    .mind_spot_title {
        padding: 0 80px;
    }
}

.mind_spot_title h3 {
    color: #8ECFD2;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    letter-spacing: 1rem;

}

@media(min-width:576px) {
    .mind_spot_title h3 {
        color: #8ECFD2;
        text-align: center;
        font-size: 20px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 15px;
        letter-spacing: 1rem;

    }
}

.mind_spot_title p {
    color: #8ECFD2;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;

}

@media(min-width:576px) {
    .mind_spot_title p {
        font-size: 18px;
    }
}


/* 補動畫 */
/* .point_vendor_title img {
    width: 100px;
    height: 100px;

} */


/* ==============================================================抽牌================================================================== */


.spot_card_choose ul {
    width: 80%;
    list-style: none;
    /* justify-content: space-evenly; */
    /* max-width: 800px; */
    padding: 0;
    margin: 0 auto;

}

@media(min-width:576px) {
    .spot_card_choose ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        /* justify-content: space-evenly; */
        /* max-width: 800px; */
        gap: 10px;
        /* width: 800px; */
    }
}

@media(min-width:768px) {
    .spot_card_choose ul {
        gap: 20px;
        padding: 0 20px;
    }
}

@media(min-width:992px) {
    .spot_card_choose ul {
        gap: 30px;
        padding: 0 30px;
    }
}

@media(min-width:1200px) {
    .spot_card_choose ul {
        gap: 30px;
        padding: 0 40px;
    }
}



.spot_card_choose p {
    color: #8ECFD2;
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 0 20px;
}

@media(min-width:576px) {
    .spot_card_choose p {
        font-size: 24px;
    }
}

.spot_card_choose img {
    width: 100%;
    height: auto;
}

#card,
#card1,
#card2,
#card3,
#card4,
#card5 {
    /* margin: 0 auto; */
    /* border: 1px solid red; */
    margin: 24px 20px;
}

/* 動畫 */



.introduce_text p,
.mind_spot_title p {
    width: 280px;
}

@media(min-width:576px) and (max-width:768px) {

    .introduce_text p,
    .mind_spot_title p {
        width: 480px;
    }
}

@media(min-width:768px) and (max-width:992px) {

    .introduce_text p,
    .mind_spot_title p {
        width: 680px;
    }
}

@media(min-width:992px) and (max-width:1200px) {

    .introduce_text p,
    .mind_spot_title p {
        width: 880px;
    }
}

@media(min-width:1200px) {

    .introduce_text p,
    .mind_spot_title p {
        width: 1000px;
    }
}