.banner_bg {

    width: 100%;
    background-image: url("../../images/banner\ 1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* min-width: 1200px; */
    height: 524px;
    /* border: 1px solid blue; */
    margin-top: 20px;
    position: relative;

}

/* ===========================================================搜尋bar=========================================== */
.search_bar {
    /* border: 5px solid green; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search_bar_set {
    display: flex;
    flex-direction: row;
}

input#inputbox {
    width: 1044px;
    height: 85px;
    border-radius: 8px;
    font-size: 25px;
    border: 0;
    color: #919191;


    background-image: url("../../images/spot/search.png");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: right 20px center;
    padding-left: 20px;
    /* padding-left: 80px; */
    /* 推開字 */
}



ul.search_text_list_country {
    justify-content: center;
    padding: 0;
    /* border: 1px solid red; */
    border-radius: 8px;
    display: flex;
    list-style: none;
}

ul.search_text_list_country li button {
    justify-content: center;
    height: 46px;
    width: 132px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    border: 0;
    color: #919191;
    background-color: #fff;
    margin: 2px 10px;

}

.search_bar p {
    /* border: 1px solid red; */
    /* 無法置中 */
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 42px;
    color: #fff;
    margin: 0;

}