footer.footer__all_block {
    border: 1px solid orange;
    min-width: 1000px;
    background-color: #8ECFD2;
}

.footer__main_outside {
    height: 500px;
    background-color: #8ECFD2;
}

div.footer__main_list {
    display: flex;
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    align-content: center;
}

div.footer__left {
    border: 1px solid red;
    text-align: center;
    margin-right: 50px;
    flex-basis: 250px;
    /*   劃定寬 flex-basis，優先於width */
    flex-shrink: 0;
    /*   怕當d文字多會壓縮所以先關掉 */
}

div.footer__left p {
    font-size: 24px;
}

.footer__left .inside_box {
    border: 1px solid purple;
    /* align-content: center ; */
}

.footer__left_list_media {
    display: flex;
    /* width: 80px; */
    /* border: 1px solid red; */
}

div.footer__contact {
    border: 1px solid blue;
    margin-right: 50px;
    flex-basis: 250px;

    flex-shrink: 0;
    /*   怕當d文字多會壓縮所以先關掉 */
    text-align: center;
    justify-items: center;
}


div.footer__bar {
    border: 1px solid yellow;
    flex-grow: 1;
    /*   全部給他 */
    /* 讓裡面的綠框整體可以整組移動，需要變成flex容器 */
    display: flex;
    align-items: center;
    /*垂直*/
    justify-content: center;
    /*水平*/
}

.content_link {
    padding: 0;
}

.footer__contact p {
    padding: 0;
    margin: 0;

}

.footer__contact h3 {
    padding: 0;
    margin: 0;
}

div.footer__left_list {
    list-style: none;
    border: 1px solid green;
    padding: 0;

}

ul.footer__list_box {
    display: flex;
    border: 1px solid green;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    /* 跟著外框調整 */
}

ul.footer__list_box>li {
    list-style: none;
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}