.header {
    /* border: 1px solid red; */
    margin-left: 20px;
    /* width: 100%; */
}

.header__block {

    margin: 0 auto;
    /* max-width: 1200px; */
    width: 100%;

}

/* ================================================漢堡按鈕============================================== */
#btn_hamburger {
    display: inline-block;
    width: 100px;
    height: 80px;
    background-color: transparent;
    /* background-color: #8ECFD2; */
    /* border: 1px solid #919191; */
    border: none;
    border-radius: 8px;
    position: relative;

    cursor: pointer;
    display: none;

}

@media (max-width: 992px) {
    #btn_hamburger {
        display: block;
    }
}

#btn_hamburger::before {
    content: "";
    /* border: 1px solid red; */
    height: 1px;
    background-color: #919191;
    position: absolute;
    display: inline-block;
    /* 定位在框裡 */
    left: 50%;
    top: 33%;
    width: 70%;
    transform: translate(-50%, -50%);
    /* 先旋轉再移動 ，ease一樣預設就不寫*/
    transition: transform .2s, top .2s ease .2s width .2s;
}

/* 出現-on 斜的*/
#btn_hamburger.-on::before {
    /* 上面的線往下 */
    top: 50%;
    /* 要translate也要rotate */
    transform: translate(-50%, -50%) rotate(45deg);
    width: 90%;
    /* 轉場漸進下來(垂直概念33%到50%)花1秒，ease是delay1秒才旋轉，一秒鐘後寬度改變 */
    transition: top .2s, transform .2s ease .2s, width .2s ease .2s;
}

#btn_hamburger::after {
    content: "";
    /* border: 1px solid red; */
    height: 1px;
    background-color: #919191;
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: 33%;
    transform: translate(-50%, -50%);
    width: 70%;
    /* 先旋轉再移動位置 */
    transition: transform .2s, bottom .2s ease .2s width .2s;
}

#btn_hamburger.-on::after {
    bottom: 50%;
    width: 90%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: bottom .2s, transform .2s ease .2s, width .2s ease .2s;
}









/*====================   logo 區域  ====================*/

.header-logo img {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* ==========================================================nav區域============================================================== */
.header__nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: relative;
    /* width: 100%; */
}

.header__nav-list {
    display: flex;

}


/* 在992px及以下屏幕宽度时，顯示菜单 */
@media (max-width: 992px) {
    .header__nav-list {
        display: none;
    }

    .header__nav-list.-open {
        display: block;
        position: absolute;
        top: 100%;
        right: 0%;
        transform: translate(0, 0%);
        z-index: 2;
        padding: 0;
        margin: 0;
        width: 60%;
        border-radius: 8px;

        /* background-color: hsla(43, 97%, 75%, 0.8); */
        background-color: hsla(43, 80%, 75%, 1);
    }
}



.header__nav_li {
    /* border: 1px solid orange; */
    display: block;
    font-size: 20px;
    /* margin: 0 10px; */
    position: relative;
    /* height: 40px; */
    line-height: 40px;
    /* padding: 0 10px; */

    /* 子層效果設定 */






}

@media (min-width:992px) {
    .header__nav_li {
        /* border: 1px solid orange; */
        display: block;
        font-size: 20px;
        /* margin: 0 10px; */
        position: relative;
        /* height: 40px; */
        line-height: 40px;
        padding: 0 10px;
    }
}





@media(max-width:992px) {
    #block_first {
        /* border: 1px solid #8ECFD2; */
        border-radius: 8px;
        /* padding: 0 10px; */
    }

    #block_second {
        /* border: 1px solid #8ECFD2; */
        border-radius: 8px;
    }
}



/* a連結 */


.header__nav_li-link {
    display: inline-block;
    /* height: 40px; */
    line-height: 40px;
    text-decoration: none;
    color: #8ECFD2;
    padding: 0 10px;
    border: 1px solid #8ECFD2;
    border-radius: 8px;
    cursor: pointer;
}

@media(max-width:992px) {
    .header__nav_li-link {
        display: block;
        color: #8ECFD2;
        /* background-color: hsla(43, 83%, 84%, 0.7); */
        /* padding: 0; */
        border: 0;
        border-radius: 0px;
        /* padding: 0; */
    }
}

@media(max-width:992px) {


    .-special_function {
        border: none;
    }
}




/* 註冊鍵設定 */
.header__nav_li-link.-register {
    color: #FFDB9D;
    border: 1px solid #FFDB9D;
}

@media(max-width:992px) {
    .header__nav_li-link.-register {
        color: #8ECFD2;
    }
}




/* ===============================================hover功能================================================================ */


/* 這是a標籤 */
.header__nav_li-link:hover {
    /* border-radius: 8px; */
    background-color: #8ECFD2;
    color: #fff;
    /* background: var(--neutral-colors-white, #FFF);
    box-shadow: 0px 4px 4px 0px #8ECFD2; */
}

@media(min-width:992px) {
    .header__nav_li-link:hover {
        background: var(--neutral-colors-white, #FFF);
        box-shadow: 0px 4px 4px 0px #8ECFD2;
        border-radius: 8px;
        color: #8ECFD2;
    }
}

/* 設定在li沒關係是因為其他沒有下層即使呈現也沒有差 */
@media (min-width:992px) {
    .header__nav_li:hover .header__sub-ul {
        opacity: 1;

    }

    .header__sub-ul {
        opacity: 0;
        transition: opacity .4s;
    }
}






/* -------------------------------------------------小文字排-------------------------------------- */

.header__sub-ul {
    padding: 0;
    list-style: none;
    position: relative;

}

/* display:block無效 */
@media (min-width:993px) {
    .header__sub-ul {
        display: flex;
        position: absolute;
        top: 100%;
        left: 50%;
        /* z-index: 1; */
        white-space: nowrap;
        transform: translateX(-50%);
        margin-top: 2px;
    }
}

@media (max-width:992px) {
    .header__sub-ul {
        /* list-style: circle; */
        /* border: 1px solid #8ECFD2; */
        /* border-radius: 8px; */
        /* 先把子層隱藏 */
        display: none;


    }

}

@media (max-width:992px) {
    .header__sub-ul.a {
        /* list-style: circle; */
        /* border: 1px solid #8ECFD2; */
        /* border-radius: 8px; */
        /* 先把子層隱藏 */
        display: none;


    }

}




@media (max-width:992px) {
    .header__sub-ul.b {
        /* list-style: circle; */
        /* border: 1px solid #8ECFD2; */
        /* border-radius: 8px; */
        /* 先把子層隱藏 */
        display: none;


    }

}


@media (max-width:992px) {
    .header__nav-list .header__sub-ul {
        /* position: absolute; */
        z-index: 99;
        /* background-color: #FFDB9D; */
        height: 50px;
        margin: 5px 5px;
    }
}






.header__sub-ul:hover a {
    display: block;
}

.header__sub-ul:hover {
    color: blue;

}


/* 給子層的定位，推薦景點跟旅行視角這兩個父層 */
.dropdown {
    position: relative;
    text-decoration: none;

    /* 給a標籤設定 */
    display: block;
}


.header__sub-ul.-active {
    opacity: 1;
}

/* 小文字在992會變不一樣 */
.header__sub-li-link {
    color: #8ECFD2;
    font-size: 16px;
    text-decoration: none;
}

@media (max-width:992px) {
    .header__sub-li-link {
        color: #919191;
        /* border: 1px solid red; */
        display: block;
        padding-left: 10px;
        font-size: 16px;
        border-radius: 8px;
        line-height: 25px;

    }
}


.header__sub-li {
    color: #919191;
    font-size: 20px;
}



.header__sub-li:not(:last-child)::after {
    content: "|";
    font-size: 16px;

}

@media(max-width:992px) {

    .header__sub-li:not(:last-child)::after {
        display: none;

    }
}

/* ===========================================================註冊登入效果 ===============================================================================================*/

.header__nav_li-link.-register:hover {
    /* border-radius: 8px; */
    /* background: var(--neutral-colors-white, #FFF);
    box-shadow: 0px 4px 4px 0px #FFDB9D; */
    color: #fff;
    background-color: #8ECFD2;

}

@media (min-width:992px) {
    .header__nav_li-link.-register:hover {
        border-radius: 8px;
        background: var(--neutral-colors-white, #FFF);
        box-shadow: 0px 4px 4px 0px #FFDB9D;
        color: #FFDB9D;
    }
}



.header__nav_li-link.-register::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url("../../images/house.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;

}

@media(max-width:992px) {
    .header__nav_li-link.-register::before {
        background-image: url("../../images/house_green.png");
        /* border: none; */
    }
}

.header__nav_li-link.-active {
    background-color: #8ECFD2;
    color: #fff;
    pointer-events: none;
    opacity: 1;

}

.header__nav_li-link.-register.-active {
    background-color: #FFDB9D;
    color: #fff;
    pointer-events: none;
    opacity: 1;
}

@media(max-width:992px) {
    .header__nav_li-link.-register.-active {
        background-color: #8ecfd2;
        color: #fff;
        pointer-events: none;
        opacity: 1;
    }
}

.header__nav_li-link.-register.-active::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url("../../images/house_white.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    margin-right: 5px;
}


.header__nav_li.-special_function {
    color: #8ECFD2;
}